* text=auto

*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
.clang-format text eol=lf
.clang-tidy text eol=lf
.clangd text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
