build/
dist/
install/
install-*/
out/
*.user
*.swp
*.swo
.cache/
.vs/
CMakeUserPresets.json
.vscode/*
!.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/c_cpp_properties.example.json
!.vscode/tasks.json
compile_commands.json
Testing/
